<style>
        
      footer {
            position: fixed; 
            left: 0; 
            bottom: 0; 
            width: 100%;
            background-color:#ECECEC;
            color: #fff;
            text-align: center;
            padding: 1px;
        }

        footer a {
            color: white;
            text-decoration: none;
        }
    </style>

    <footer>
        <a href="/" style="color:black;text-decoration:none;font-weight:bold;font-family:fantasy;">PC Lab</a>

        
    </footer>