<style>

.sub-navbar {
            background-color: black;
            color:grey;
            padding: 1px 0;
            display: flex;
            justify-content: space-around;
            text-align: center;
        }

        .sub-navbar a {
            flex: 1;
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 1px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .sub-navbar a:hover {
            background-color: #2d3e65;
        }

        .sub-navbar img {
            margin-bottom: 1px;
        }

</style>

<div class="sub-navbar">
    <a href="/Catalog/category/1" style="font-family:fantasy;"><span>EKRAN KARTI</span></a>
    <a href="/Catalog/category/2" style="font-family:fantasy;"><span>İŞLEMCİ</span></a>
    <a href="/Catalog/category/3" style="font-family:fantasy;"><span>ANAKART</span></a>
    <a href="/Catalog/category/4" style="font-family:fantasy;"><span>RAM</span></a>
    <a href="/Catalog/category/5" style="font-family:fantasy;"><span>POWER SUPPLY</span></a>
    <a href="/Catalog/category/6" style="font-family:fantasy;"><span>SABİT DİSK</span></a>
</div>