<style>


.sub-navbar2 {
            background-color: blue;
            color: white;
            padding: 5px;
            display: flex;
            justify-content: center;
        }

        .sub-navbar2 div {
            margin: 0 15px;
            display: flex;
            align-items: center;
        }

        .sub-navbar2 img {
            margin-right: 5px;
        }
</style>

<div class="sub-navbar2"  style="font-size:small">
    <div><img src="https://cdn.myikas.com/images/theme-images/3df84b2b-f6d4-4bca-b7d0-6078197d2cff/image_180.webp" alt="AYNI GÜN KARGO" width="16" height="16"><span><strong>AYNI GÜN KARGO</strong> - 16:00’DAN ÖNCEKİ SİPARİŞLERDE</span></div>
    <div><img src="https://cdn.myikas.com/images/theme-images/afbc751e-179d-4e69-b2bc-c9eebb97a2af/image_180.webp" alt="ÜCRETSİZ KARGO" width="16" height="16"><span><strong>ÜCRETSİZ KARGO</strong> - 750 TL ÜZERİ SİPARİŞLERDE</span></div>
    <div><img src="https://cdn.myikas.com/images/theme-images/027c72b8-a0ed-470e-ba40-4f1c06244604/image_180.webp" alt="GÜVENLİ ALIŞVERİŞ" width="16" height="16"><span><strong>GÜVENLİ ALIŞVERİŞ</strong> - 1.000.000+ MUTLU MÜŞTERİ</span></div>
</div>