{% extends "layout.html" %}

{% block body %}
<!-- <h6>

    {% if request.user.is_authenticated %}

   <em> Hoşgeldiniz: </em>  {{request.user.username}} 

    {% else %}

    Giriş Yapılmadı


    {% endif %}

</h3> -->
    




<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <h1 class="text-white fs-3 fw-bolder">PC Lab</h1>
        <p class="text-white-50 mb-0">Hoşgeldiniz..</p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2> <strong>Hoş Geldiniz!</strong></h2>
                <p class="lead">Bilgisayar tutkunları için bir cennete hoş geldiniz! Burası, teknolojiyle dolu bir
                    dünyanın kapılarını aralayan bir platform. Her bir tuşa dokunuşta heyecan verici bir yolculuğa
                    çıkacağınız bir alan sunuyoruz. Bilgisayar parçaları, donanım ve yazılım dünyasının kalbinin attığı
                    yerde, sizinle birlikte olmaktan büyük mutluluk duyuyoruz.</p>
                <p class="mb-0">Burası sadece bir alışveriş platformu değil, aynı zamanda bilgi paylaşımının,
                    deneyimlerin ve tutkunun bir araya geldiği bir topluluk merkezi. Sizi, yeni teknolojilerin ve
                    yenilikçi ürünlerin heyecan verici dünyasına götürecek yolda bizimle birlikte olmaya davet ediyoruz.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">

    <div style="height: 20rem"></div>
</div>

<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2><strong>Bizimle Keşfet</strong></h2>
                <p class="lead">Bizimle keşfedin, öğrenin ve ilham alın. Sizin için tasarladığımız bu platformda,
                    bilgisayarınızı her seferinde bir adım daha ileriye taşımanın heyecanını birlikte yaşayalım!</p>
                <p class="mb-0">Başlayın ve teknoloji yolculuğunuzda bize katılın!</p>
            </div>
        </div>
    </div>
</section>





{% endblock %}